.featers {
    padding-top: 60px;

    @include desktop {
        padding-top: 94px;
    }
}

.features__title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features__list {
    width: 100%;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.features__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablet {
        margin-bottom: 0;
    }
}

.features__item::before {
    content: "";
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;


    @include tablet {
        width: 354px;
        height: 120px;
    }

    @include desktop {
        width: 270px;
        height: 120px;
    }
}

.icon-antenna::before {
    background-image: url(../images/icons.svg/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/icons.svg/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/icons.svg/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons.svg/astronaut.svg);
}

.features__heading {
    margin-bottom: 10px;
    @include font (null, 14px, calc(16 / 14), 0.03em);
    text-transform: uppercase;
    color: var(--main-color-text);
    text-align: center;

    @include tablet {
        text-align: start;
    }
}

.features__text {
    display: block;
    @include font (null, 14px, 1.71, 0.03em);
    color: var(--secondary-color-text);
    max-width: 450px;
    width: 100%;

    @include tablet {
        width: 354px;
        display: flex;
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
    }

    @include desktop {
        width: 270px;
        display: flex;
        flex-basis: calc((100% - 90px) / 4);
    }
}